{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
<div class="row">
	<aside class="col-lg-8">
    <div class="card">
      <h5 class="card-header">Billing Address</h5>
      <div class="card-body">
        <p class="card-text mb-0">{{order.full_name}}</p>
						<p class="card-text mb-0">{{order.full_address}}</p>
						<p class="card-text mb-0">{{order.city}}, {{order.state}}</p>
						<p class="card-text mb-0">{{order.country}}</p>
						<p class="card-text mb-0">{{order.email}}</p>
						<p class="card-text mb-0">{{order.phone}}</p>
            {% if order.order_note %}
						<b>Order Note: </b> {{order.order_note}}
						{% endif %}<br>

        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div><!-- card.// -->
    <div class="card">
      <h5 class="card-header">Payment method</h5>
      <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <h5 class="card-header">Review Product</h5>
      <div class="card-body">
        <table class="table table-borderless table-shopping-cart">
        <thead class="text-muted">
        <tr class="small text-uppercase">
          <th scope="col">Product</th>
          <th scope="col" width="120">Quantity</th>
          <th scope="col" width="120">Price</th>

        </tr>
        </thead>
        <tbody>

        {% for cart_item in cart_items %}
        <tr>
        	<td>
        		<figure class="itemside align-items-center">
        			<div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
        			<figcaption class="info">
        				<a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
        				<p class="text-muted small">
        					{% if cart_item.variations.all %}
        						{% for item in cart_item.variations.all %}
        							{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
        						{% endfor %}
        					{% endif %}
        				</p>
        			</figcaption>
        		</figure>
        	</td>
        	<td>
        		<!-- col.// -->
        				<label for="">{{cart_item.quantity}}</label>
        	</td>
        	<td>
        		<div class="price-wrap">
        			<var class="price">$ {{ cart_item.sub_total }}</var>
        			<small class="text-muted"> $ {{ cart_item.product.price }} each </small>
        		</div> <!-- price-wrap .// -->
        	</td>

        </tr>
        {% endfor %}

        </tbody>
        </table>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
	</aside> <!-- col.// -->
	<aside class="col-lg-4">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">$ {{total}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Tax:</dt>
			  <dd class="text-right"> $ {{tax}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Grand Total:</dt>
			  <dd class="text-right text-dark b"><strong>$ {{grand_total}}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static './images/misc/payments.png' %}" height="26">
			</p>
			<!-- <a href="{% url 'checkout' %}" class="btn btn-primary btn-block"> Make Payment </a> -->
			<div id="rzp_payment_button">
      <button class="btn btn-danger w-100 p-2" id="rzp-button1">Pay with RazorPay</button>
     			<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      </div>
			<br>
			<a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->

<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>


	<script>
		function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                }
            }
        }
        return cookieValue;
    }
	    var url = "{% url 'payments' %}";
	    var order_number = "{{ order.order_number }}";

	    var csrftoken = getCookie('csrftoken');
			var redirect_url = "{% url 'order_complete' %}"

	    var options = {
	        "key": "{{RAZORPAY_KEY_ID}}",
	        "amount": "{{ rzp_amount }}",
	        "currency": "INR",
	        "name": "FoodOnline",
	        "description": "FoodOnline - Multi Vendor Restaurant Marketplace",
	        "image": "https://example.com/your_logo", // Corrected image URL
	        "order_id": "{{ rzp_order_id }}",
	        "handler": function (response) {
	            var transaction_id = response.razorpay_payment_id;
	            var payment_method = 'RazorPay';
	            var status = 'Success';
	            sendTransaction(transaction_id, payment_method, status);
	        },
	        "prefill": {
	            "name": "{{ order.name }}",
	            "email": "{{ order.email }}",
	            "contact": "{{ order.phone }}"
	        },
	        "notes": {
	            "address": "{{ order.address }}"
	        },
	        "theme": {
	            "color": "#dc3545"
	        }
	    };

			var rzp1 = new Razorpay(options);
				rzp1.on('payment.failed', function (response){
				alert(response.error.code);
				alert(response.error.description);
				alert(response.error.source);
				alert(response.error.step);
				alert(response.error.reason);
				alert(response.error.metadata.order_id);
				alert(response.error.metadata.payment_id);
				});

	    document.getElementById('rzp-button1').onclick = function(e){
	        rzp1.open();
	        e.preventDefault();
	    };

	    function sendTransaction(transaction_id, payment_method, status) {
	        $.ajax({
	            type: 'POST',
	            url: url,
	            data: {
	                'order_number': order_number,
	                'transaction_id': transaction_id,
	                'payment_method': payment_method,
	                'status': status,
	                'csrfmiddlewaretoken': csrftoken
	            },
	            success: function(response) {
								console.log('response==>', response)
								window.location.href = redirect_url + '?order_number='+response.order_number+'&payment_id='+response.transaction_id;
	                // Handle success, if needed
	            },
	        });
	    // Utility function to get the value of a cookie by name
	    }
	</script>


{% endblock %}
