<!DOCTYPE html>
<html>
<head>
    <title>Order Details</title>
</head>
<body>
    <h1>All Order Details</h1>
    <h1>Payment Successful!</h1>
    <!-- <p>Payment Status: {{ payment_status }}</p> -->




    <!--
    {% for order in orders %}
        {% if order.payment.order_number == razorpay_order_id %}
            <h2>Order ID: {{ order.id }}</h2>
            <p>User: {{ order.user.username }}</p>
            <p>Order Number: {{ order.order_number }}</p>
            <p>Name: {{ order.full_name }}</p>
            <p>Phone: {{ order.phone }}</p>
            <p>Email: {{ order.email }}</p>
            <p>Address: {{ order.full_address }}</p>
            <p>Country: {{ order.country }}</p>
            <p>State: {{ order.state }}</p>
            <p>City: {{ order.city }}</p>
            <p>Order Note: {{ order.order_note }}</p>
            <p>Order Total: {{ order.order_total }}</p>
            <p>Tax: {{ order.tax }}</p>
            <p>Status: {{ order.get_status_display }}</p>
            <p>IP: {{ order.ip }}</p>
            <p>Is Ordered: {{ order.is_ordered }}</p>
            <p>Created At: {{ order.created_at }}</p>
            <p>Updated At: {{ order.updated_at }}</p>
            <!-- Add other fields as needed -->

            <!-- Add a separator or styling between orders -->
            <hr>
        {% endif %}
    {% endfor %} -->
    <!-- Add any additional content or formatting as needed -->
</body>
</html>
